Repository cross-rs/cross, pull requests merged in 2022-08, with the labels that each got.

#992 Fix cargo-bisect-rustc issues during CI.
  ci/test-bisect.sh
Labels: meta, no changelog

#952 Run non-x86 binaries natively if on a compatible host.
  .changes/952.json
  docker/Dockerfile.aarch64-unknown-linux-gnu
  docker/Dockerfile.aarch64-unknown-linux-musl
  docker/Dockerfile.arm-unknown-linux-gnueabi
  docker/Dockerfile.arm-unknown-linux-gnueabihf
  docker/Dockerfile.arm-unknown-linux-musleabi
  docker/Dockerfile.arm-unknown-linux-musleabihf
  docker/Dockerfile.armv5te-unknown-linux-gnueabi
  docker/Dockerfile.armv5te-unknown-linux-musleabi
  docker/Dockerfile.armv7-unknown-linux-gnueabi
  docker/Dockerfile.armv7-unknown-linux-gnueabihf
  docker/Dockerfile.armv7-unknown-linux-musleabi
  docker/Dockerfile.armv7-unknown-linux-musleabihf
  docker/Dockerfile.i586-unknown-linux-gnu
  docker/Dockerfile.i586-unknown-linux-musl
  docker/Dockerfile.i686-unknown-linux-gnu
  docker/Dockerfile.i686-unknown-linux-musl
  docker/Dockerfile.mips-unknown-linux-gnu
  docker/Dockerfile.mips-unknown-linux-musl
  docker/Dockerfile.mips64-unknown-linux-gnuabi64
  docker/Dockerfile.mips64-unknown-linux-muslabi64
  docker/Dockerfile.mips64el-unknown-linux-gnuabi64
  docker/Dockerfile.mips64el-unknown-linux-muslabi64
  docker/Dockerfile.mipsel-unknown-linux-gnu
  docker/Dockerfile.mipsel-unknown-linux-musl
  docker/Dockerfile.powerpc-unknown-linux-gnu
  docker/Dockerfile.powerpc64-unknown-linux-gnu
  docker/Dockerfile.powerpc64le-unknown-linux-gnu
  docker/Dockerfile.riscv64gc-unknown-linux-gnu
  docker/Dockerfile.s390x-unknown-linux-gnu
  docker/Dockerfile.sparc64-unknown-linux-gnu
  docker/Dockerfile.thumbv7neon-unknown-linux-gnueabihf
  docker/Dockerfile.x86_64-unknown-linux-gnu
  docker/Dockerfile.x86_64-unknown-linux-gnu.centos
  docker/Dockerfile.x86_64-unknown-linux-musl
  docker/base-runner.sh
  docker/linux-runner
  docker/qemu-runner
Labels: enhancement, A-aarch64-host

#987 Link to libgcc for `armv5te-unknown-linux-musleabi` target.
  .changes/987.json
  docker/Dockerfile.mips64-unknown-linux-muslabi64
  docker/aarch64-linux-musl-gcc.sh
  docker/arm-linux-musleabi-gcc.sh
  docker/mips64-linux-musl-gcc.sh
  docker/mips64-linux-muslabi64-gcc.sh
Labels: bug, upstream, A-musl

#997 fix wrong usage of bool_from_envvar
  docker/dragonfly.sh
  src/bin/cross.rs
Labels: no changelog

#998 Fix typos
  .changes/template/CHANGELOG.md
  .github/workflows/ci.yml
  CHANGELOG.md
  src/lib.rs
Labels: no changelog
