Repository cross-rs/cross, pull requests merged in 2024-04, with the labels that each got.

#1465 feat: add loongarch64-unknown-linux-gnu image
  .changes/1465.json
  .github/ISSUE_TEMPLATE/b_issue_report.yml
  README.md
  crosstool-ng/loongarch64-unknown-linux-gnu.config.in
  docker/Dockerfile.loongarch64-unknown-linux-gnu
  docker/crosstool-config/loongarch64-unknown-linux-gnu.config
  docker/crosstool-ng.sh
  src/docker/image.rs
  src/docker/provided_images.rs
  targets.toml
Labels: CI-loongarch64-unknown-linux-gnu

#1466 Upgrade qemu and integrate qemu-user runners for loongarch64
  .changes/1466.json
  README.md
  docker/Dockerfile.loongarch64-unknown-linux-gnu
  docker/qemu.sh
  targets.toml
Labels: CI-loongarch64-unknown-linux-gnu

#1468 use defconfig for ct-ng, minimizing the config
  .changes/1468.json
  crosstool-ng/arm-unknown-linux-gnueabihf.config.in
  crosstool-ng/loongarch64-unknown-linux-gnu.config.in
  docker/crosstool-config/arm-unknown-linux-gnueabihf.config
  docker/crosstool-config/loongarch64-unknown-linux-gnu.config
  docker/crosstool-ng.sh
Labels: CI-arm-unknown-linux-gnueabihf, CI-loongarch64-unknown-linux-gnu

#1472 fix link in template
  .github/ISSUE_TEMPLATE/z_feature_request.yml
Labels: no-ci-tests

#1480 fix: zig cc unknown operating system
  docker/zig.sh
Labels: no changelog, no-ci-targets, A-zig

#1482 bump deps, fix deny
  .changes/1038-1220-1482.json
  .changes/1038-1220.json
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  README.md
  clippy.toml
  deny.toml
  src/config.rs
Labels: no changelog, no-ci-tests

#1481 Allow environment variables to contain numbers
  .changes/1481.json
  src/docker/shared.rs
Labels: no-ci-targets, no-ci-tests
