Repository cross-rs/cross, pull requests merged in 2025-04, with the labels that each got.

#1647 use `-q` when gathering the installed toolchains
  .changes/1647.json
  .github/workflows/changelog.yml.x
  src/rustup.rs
Labels: no-ci-targets

#1664 feat: add riscv64gc-unknown-linux-musl image
  .changes/1664.json
  .github/ISSUE_TEMPLATE/b_issue_report.yml
  README.md
  docker/Dockerfile.riscv64gc-unknown-linux-musl
  docker/crosstool-config/riscv64gc-unknown-linux-musl.config
  src/docker/provided_images.rs
  targets.toml
Labels: CI-riscv64gc-unknown-linux-musl

#1666 fix Dockerfile warn LegacyKeyValueFormat ENV key value => ENV key=value
  docker/Dockerfile.arm-unknown-linux-gnueabihf
  docker/Dockerfile.loongarch64-unknown-linux-gnu
  docker/Dockerfile.loongarch64-unknown-linux-musl
Labels: no-ci-targets, no-ci-tests

#1670 [RFC] Shrink musl docker image size by ~50%
  docker/Dockerfile.aarch64-unknown-linux-musl
  docker/Dockerfile.arm-unknown-linux-musleabi
  docker/Dockerfile.arm-unknown-linux-musleabihf
  docker/Dockerfile.armv5te-unknown-linux-musleabi
  docker/Dockerfile.armv7-unknown-linux-musleabi
  docker/Dockerfile.armv7-unknown-linux-musleabihf
  docker/Dockerfile.i586-unknown-linux-musl
  docker/Dockerfile.i686-unknown-linux-musl
  docker/Dockerfile.loongarch64-unknown-linux-musl
  docker/Dockerfile.mips-unknown-linux-musl
  docker/Dockerfile.mips64-unknown-linux-muslabi64
  docker/Dockerfile.mips64el-unknown-linux-muslabi64
  docker/Dockerfile.mipsel-unknown-linux-musl
  docker/Dockerfile.riscv64gc-unknown-linux-musl
  docker/Dockerfile.x86_64-unknown-linux-musl
  docker/lib.sh
  docker/musl.sh
  docker/tidyup.sh
Labels: CI-aarch64-unknown-linux-musl, CI-arm-unknown-linux-musleabi, CI-arm-unknown-linux-musleabihf, CI-armv5te-unknown-linux-musleabi, CI-armv7-unknown-linux-musleabi, CI-armv7-unknown-linux-musleabihf, CI-i586-unknown-linux-musl, CI-i686-unknown-linux-musl, CI-mips-unknown-linux-musl, CI-mips64-unknown-linux-muslabi64, CI-mips64el-unknown-linux-muslabi64, CI-mipsel-unknown-linux-musl, CI-x86_64-unknown-linux-musl, CI-loongarch64-unknown-linux-musl, CI-riscv64gc-unknown-linux-musl

#1674 freebsd: fix image build
  .changes/1674.json
  README.md
  docker/freebsd-extras.sh
  docker/freebsd-install.sh
  docker/freebsd.sh
  xtask/src/target_info.sh
Labels: CI-aarch64-unknown-freebsd, CI-i686-unknown-freebsd, CI-x86_64-unknown-freebsd
